@model SampleCRUD.Models.Users

@{
    ViewBag.Title = "Edit employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.EmployeeID)
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Edit Employee</div>
        <table class="table">
            <tr>
                <td>Name</td>
                <td>
                    @Html.TextBoxFor(model => model.Name, new {@class="form-control",style="width:350px"})
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>Department</td>
                <td>
                    @Html.TextBoxFor(model => model.Department, new {@class="form-control",style="width:350px"})
                    @Html.ValidationMessageFor(model => model.Department)
                </td>
            </tr>
        </table>
    </div>
    <p>
        <input type="submit" value="Save" class="btn btn-default" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
